h1 {
  margin-left: 10px;
}

h2 {
  font-variant: small-caps;
  margin-left: 20px;
}

h3 {
  font-variant: small-caps;
  margin-left: 30px;
}

h4 {
  font-variant: small-caps;
  margin-left: 40px;
}

h5 {
  margin-left: 50px;
}

li {
  margin-left: 50px;
}

.producer {
  font-variant: small-caps;
}

a {
  text-decoration: none;
  color: black;
}